@import '../../shares/breakpoints.scss';

.contact {
  min-height: 25vh;
  padding:23px;
  background-color: #eee;

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .social-icon{
    margin: 40px 0;

    .social-item {
      display: flex;
      justify-content: flex-start;  
      margin-left: 30px;

      @include for-phone-portrait {
        margin-left: 150px;
      }

      @include for-tablet-to-desktop {
        margin-left: 200px;
      }

      @include for-desktop-up {
        margin-left: 300px;
      }

      @media screen and (min-width:1400px) {
        margin-left: 40%;
      }

      a{
        text-decoration: none;
        display: inline;      
        
        img {
          width: 50px;
          height: 50px;  
          border-radius: 50%;
          border: 2px solid white;
          transition: all 0.3s ease-in;

          &:hover {
            border: 2px solid #703dc1;
          }
        }

        h4 {
          color: black;
          margin-left: 20px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}