.loader-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loader{
  height: 60px;
  width: 40px;
  border:5px solid #fff;
  animation: rotating 2s infinite ease;
}

.loader-inner{
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: white;
  animation: filling 2s infinite ease-in;
}

@keyframes filling{
  0%{
    height:0%;
  }
  25%{
    height:0%;
  }
  50%{
    height:100%;
  }
  75%{
    height:100%;
  }
  100%{
    height:0%;
  }
}

@keyframes rotating{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }
}