.navbar{
  width: 100%;
  position: fixed;
  z-index: 10;
  top:0;
  display: flex;
  justify-content: space-between;
  // padding: 0 5px 0 5px;
  transition: background-color 1s ease;
  a{
    align-self: center;
    height:55px;
    width: 55px;
    margin-left: 25px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    img{
      height: 40px;
      width: 40px;
      display: block;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin:auto;

    }
    @media screen and (min-width: 767px){
      margin-left: 35px;
    }
    @media screen and (min-width: 1300px){
      margin-left: 45px;
    }
  }
  ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 10px 5px 10px 10px;
    padding:0;
    li{
      margin-right: 20px;   
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      color: white;
      text-decoration: none;
      cursor: pointer;
      @media screen and (min-width:767px){
        margin-right: 35px;
        font-size: 1.5em;
      }
    }
  }
}

.boxShadow{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

